@font-face {
    font-family: 'AnimeAce';
    src: url(/public/css/fonts/AnimeAce.ttf);
}
@font-face {
    font-family: 'AnimeAceV3';
    src: url(/public/css/fonts/AnimeAcev3.ttf);
}
@font-face {
    font-family: 'AnimeAceBold';
    src: url(/public/css/fonts/animeace2_bld.otf);
}
@font-face {
    font-family: 'AnimeAceItalic';
    src: url(/public/css/fonts/animeace2_ital.otf);
}
@font-face {
    font-family: 'AnimeAceReg';
    src: url(/public/css/fonts/animeace2_reg.otf);
}
.end {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px;
    color: #333333;
}
.a {
    color: #F2364A;
}
.a:hover {
    color: grey;
}
.category {
    box-shadow: 0 5px 15px black;
    border-radius: 10px;
    background: #AE445A;
    color: white;
}
.city {
    padding-left: 25px;
}
.bold {
    font-weight: 700;
}
.line-height {
    padding: 10px;
}
.li {
    text-decoration: none;
    cursor: pointer;
    color: #F2364A;
    font-size: 16px;
}
.li:hover {
    text-decoration: none;
    color: grey;
}
.category2 {
    color: black;
    font-size: 32px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
}
.category2:hover {
    color: grey;
}
* {
    font-family: AnimeAceV3;
}

